<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
style
    include style.css
</head>
<body>
    <div class="bg">
<div class="con">
<nav class ="navbar">
    <ul>
        <li><a href ="/"><i class="fa fa-home" aria-hidden="true">HOME</li></a></i>
        <li><a href ="/login"><i class="fa fa-sign-in" aria-hidden="true">LOGIN</li></a></i>
        <li><a href ="/services"><i class="fa fa-server" aria-hidden="true">SERVICES</li></a></i>
        <li><a href ="/about"><i class="fa fa-info-circle" aria-hidden="true">ABOUT</li></a></i>
    </ul>
</div>
</nav>
<div>
<h1 class= "service"> ----THIS IS about----</h1>
</div>
</body>