<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
style
    include style.css
</head>
<body>
<div class="stick">
</div>
    <div class="bg">
<div class="con">
<nav class ="navbar">
    <ul>
        <li><a href ="/"><i class="fa fa-home" aria-hidden="true">HOME</li></a></i>
        <li><a href ="/login"><i class="fa fa-sign-in" aria-hidden="true">LOGIN</li></a></i>
        <li><a href ="/services"><i class="fa fa-server" aria-hidden="true">SERVICES</li></a></i>
        <li><a href ="/about"><i class="fa fa-info-circle" aria-hidden="true">ABOUT</li></a></i>
    </ul>
</div>
</nav>
<script>alert('you have succesfully registered your--self..')</script>
<div class="alert alert-success" role="alert">
 <h4 class="alert-heading">Well done!</h4>
 <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
 <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
 </div>
</body>
</html>