<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
style
    include style.css
</head>
<body>
<div class="stick">
</div>
    <div class="bg">
<div class="con">
<nav class ="navbar" onclick= function()>
    <ul>
        <li><a href ="/registration"><i class="fa fa-home" aria-hidden="true">HOME</li></a></i>
        <li><a href ="/login"><i class="fa fa-sign-in" aria-hidden="true">LOGIN</li></a></i>
        <li><a href ="/services"><i class="fa fa-server" aria-hidden="true">SERVICES</li></a></i>
        <li><a href ="/about"><i class="fa fa-info-circle" aria-hidden="true">ABOUT</li></a></i>
    </ul>
</div>
</nav>
<a href="#"><i class="fas fa-caret-square-down"></i>    </a>
<div class="form">
    <form action = '/registration' method="post">
    <h3>Registration form</h3>
    <input type="text" name="first" id="name" placeholder="enter first name" required > <br>
     <input type="text" name="last" id="name" placeholder="enter last name" required ><br>
     <input type="phone" name="phone" id="" placeholder="enter 10 digit number" required ><br>
     <input type="email" name="email" id="" placeholder="email" required ><br>
     <input type="password" name="password" id="" placeholder="please enter password"  required ><br>
     <input type="password" name="repass" id="" placeholder="please  re-enter"  required ><br>
    <a href='/registration' ><button class="btn">Register</button></a>
     <div class ="btn1">
<button<i class="fa fa-id-card" aria-hidden="true"><a href ="\login">LOGIN</i></button</a>
</div>
</form>
</div>
</div>    
</body>
</html>

