<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
style
    include style.css
</head>
<body>
    <div class="bg">
<div class="con">
<nav class ="navbar">
    <ul>
        <li><a href ="/"><i class="fa fa-home" aria-hidden="true">HOME</li></a></i>
        <li><a href ="/login"><i class="fa fa-sign-in" aria-hidden="true">LOGIN</li></a></i>
        <li><a href ="/services"><i class="fa fa-server" aria-hidden="true">SERVICES</li></a></i>
        <li><a href ="/about"><i class="fa fa-info-circle" aria-hidden="true">ABOUT</li></a></i>
    </ul>
</div>
</nav>
<div>
<h1 class= "service"> ----THIS IS SERVICE----</h1>
<h3>About us-:</h3><br>
<p>The Sheth T.J.Education Society was founded in 1949. Since then, it has made significant contribution in the field of education. There are more than five thousand students who are being educated in the institutions run by the Society. A student admitted in the Montessori Class goes out with a degree either in Arts or Commerce or Post Graduate Degree in Commerce.
 |college with the Commerce faculty was founded in August, 1990 to cater the educational needs of students passing the H.S.C. Examination from the Sheth N.K.T.T. Junior College, Thane. The Arts faculty was added to the Degree College from the Academic year 1993-94, as there was a great demand for Arts Section.
</div>
</body>
</html>

